# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Bradley White HW #2.docx
Bradley White HW #2.pdf
Bradley White HW #3.docx
Bradley White HW #3.pdf
HW #1.docx
HW #1.pdf
Lab 1 Huffman Code/Lab1.pdf
Closest Pair Pseudocode.pdf
Lab 1 Huffman Code/sample output.pdf
Lab 2 Hash Table/Lab2.pdf
Lab 2 Hash Table/sample output.pdf
Lab 3 Knight's Tour/Lab3.pdf
Lab 4 ClosestPair/Lab4.pdf
